{% include 'header.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <title>Добавление принтера</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить принтер</button>
    </form>
    <a href="{% url 'printer:web' %}"><button>На главную страницу</button></a>
</body>
</html>